<%= form_tag '/login' do %>
<div class="input-box">	

	<div class="entry-collection">
		<span class="entry">Username:</span>
		<%= text_field_tag :username %>
	</div>

	<div class="entry-collection">
		<span class="entry">Password:</span>
		<%= password_field_tag :login_password %>
	</div>

	<div id="login-btn">
		<%= submit_tag "Log In", class:'btn-default' %>
	</div>
</div>

<div class="bike-selection">
	<div class="box-item selection">
		<img src="bike.png" class="bike" width="350" height="200">
	</div>
<br>
	<div class="box-item selection">
		<img src="bike.png" class="bike" width="350" height="200">
	</div>
<br>
	<div class="box-item selection">
		<img src="bike.png" class="bike" width="350" height="200">
	</div>
</div>

<% end %>