<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %><%= image_tag user.picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
