@import 'bourbon';
@import 'neat';

//
// Variables
//

$accent: #20bed2;
$gray: #56646F;
$bg: #fff;

//
// General styles
//

body {
 	color: $gray;
 	font: 18px "Quicksand", sans-serif;
 	font-weight: 400;
 }

 main {
	max-width: 500px;
	margin: 0 auto;
}
img {
	max-width: 100%;
}

//
// Links and Forms
//

.input-box {
	width: 200px;
	padding: 0.5%;
	padding-right: 0;
	background-color: $bg;
}

@mixin buttonlike {
	background-color: $bg;
	border: 2px solid $accent;
	border-radius: 2px;
	color: $accent;
	font-size: .75rem;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	@include transition(all 0.1s linear);
	&:hover {
		background-color: $accent;
		color: $bg;
	}
}

.button {
	@include buttonlike;
}

input[type=submit] {
	@include buttonlike;
	cursor: pointer;
	width: 100%;
}

.entry {
	padding-top: 10px;
}

.entry-collection {
	margin: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.bike-box {
	display: inline-block;
	padding: 1% 2%;
	margin-bottom: 1%;
}

.selection {
	cursor: pointer;
	@include transition(all 0.1s linear);
	&:hover {
		border-style: solid;
		border-width: 0px 35px;
		border-color: $accent;
		box-shadow: 5px 5px 5px 2px #888;
	}
}

//
// Avatars
//

.avatar {
	width: 50px;
	height: 50px;
	margin: 0;
	display: inline-block;
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}


