/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 	font: 18px "Quicksand", sans-serif;
 	color: #56646F;
 	font-weight: 400;
 }


.input-box {
	width: 200px;
	padding: 0.5%;
	padding-right: 0%;
	background-color: #FFF;
}

.entry {
	padding-top: 10px;
}

.entry-collection {
	margin: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#login-btn {
	position: relative;
	text-align: right;
	right: 10%;
}

.btn {
	font: 18px "Quicksand", sans-serif;
	background-color: #FFF;
	border: 2px solid;
	border-color: #20bed2;
	color: #20bed2;
	border-radius: 2px;
}

.btn:hover {
	font: 18px "Quicksand", sans-serif;
	background-color: #20bed2;
	border: 2px solid;
	border-color: #20bed2;
	color: #FFF;
	border-radius: 2px;
}


