Listing accessories

<p>
  <strong>Accessory:</strong>
  <br>
  <% @bike_accessories.each do | accessory| %>
   <%= image_tag accessory.image.url(:thumb) %>
   <br>
   <%= accessory.name %>
  <% end %>
<%= paginate @bike_accessories %>
</p>




  <!-- select if not_missing == true or false -->